# Programming Project 2
---
**Author:** Kerry Effinger  
**Version:** 1.0  
**Semester:** Fall 2020  

This *notebook* contains my solution to **Programming Project 2**

In [4]:
['FirstName','LastName','StartTerm','EndTerm','BirthState','Born','Died','InaugurationAge','DeathAge']

presidents = [['George','Washington',1789,1797,'VA','2/22/1732','12/14/1799',57,67],
['John','Adams1',1797,1801,'MA','10/30/1735','7/4/1826',61,90],
['Thomas','Jefferson',1801,1809,'VA','4/13/1743','7/4/1826',57,83],
['James','Madison',1809,1817,'VA','3/16/1751','6/28/1836',57,85],
['James','Monroe',1817,1825,'VA','4/28/1758','7/4/1831',58,73],
['John','Adams2',1825,1829,'MA','7/11/1767','2/23/1848',57,80],
['Andrew','Jackson',1829,1837,'SC','3/15/1767','6/8/1845',61,78],
['Martin','Van Buren',1837,1841,'NY','12/5/1782','7/24/1862',54,79],
['William','Harrison1',1841,1841,'VA','2/9/1773','4/4/1841',68,68],
['John','Tyler',1841,1845,'VA','3/29/1790','1/18/1862',51,71],
['James','Polk',1845,1849,'NC','11/2/1795','6/15/1849',49,53],
['Zachary','Taylor',1849,1850,'VA','11/24/1784','7/9/1850',64,65],
['Millard','Fillmore',1850,1853,'NY','1/7/1800','3/8/1874',50,74],
['Franklin','Pierce',1853,1857,'NH','11/23/1804','10/8/1869',48,64],
['James','Buchanan',1857,1861,'PA','4/23/1791','6/1/1868',65,77],
['Abraham','Lincoln',1861,1865,'KY','2/12/1809','4/15/1865',52,56],
['Andrew','Johnson',1865,1869,'NC','12/29/1808','7/31/1875',56,66],
['Ulysses','Grant',1869,1877,'OH','4/27/1822','7/23/1885',46,63],
['Rutherford','Hayes',1877,1881,'OH','10/4/1822','1/17/1893',54,70],
['James','Garfield',1881,1881,'OH','11/19/1831','9/19/1881',49,49],
['Chester','Arthur',1881,1885,'VT','10/5/1829','11/18/1886',50,56],
['Grover','Cleveland1',1885,1889,'NJ','3/18/1837','6/24/1908',47,71],
['Benjamin','Harrison2',1889,1893,'OH','8/20/1833','3/13/1901',55,67],
['Grover','Cleveland2',1893,1897,'NJ','3/18/1837','6/24/1908',55,71]]
print(presidents)

[['George', 'Washington', 1789, 1797, 'VA', '2/22/1732', '12/14/1799', 57, 67], ['John', 'Adams1', 1797, 1801, 'MA', '10/30/1735', '7/4/1826', 61, 90], ['Thomas', 'Jefferson', 1801, 1809, 'VA', '4/13/1743', '7/4/1826', 57, 83], ['James', 'Madison', 1809, 1817, 'VA', '3/16/1751', '6/28/1836', 57, 85], ['James', 'Monroe', 1817, 1825, 'VA', '4/28/1758', '7/4/1831', 58, 73], ['John', 'Adams2', 1825, 1829, 'MA', '7/11/1767', '2/23/1848', 57, 80], ['Andrew', 'Jackson', 1829, 1837, 'SC', '3/15/1767', '6/8/1845', 61, 78], ['Martin', 'Van Buren', 1837, 1841, 'NY', '12/5/1782', '7/24/1862', 54, 79], ['William', 'Harrison1', 1841, 1841, 'VA', '2/9/1773', '4/4/1841', 68, 68], ['John', 'Tyler', 1841, 1845, 'VA', '3/29/1790', '1/18/1862', 51, 71], ['James', 'Polk', 1845, 1849, 'NC', '11/2/1795', '6/15/1849', 49, 53], ['Zachary', 'Taylor', 1849, 1850, 'VA', '11/24/1784', '7/9/1850', 64, 65], ['Millard', 'Fillmore', 1850, 1853, 'NY', '1/7/1800', '3/8/1874', 50, 74], ['Franklin', 'Pierce', 1853, 1857, 'NH', '11/23/1804', '10/8/1869', 48, 64], ['James', 'Buchanan', 1857, 1861, 'PA', '4/23/1791', '6/1/1868', 65, 77], ['Abraham', 'Lincoln', 1861, 1865, 'KY', '2/12/1809', '4/15/1865', 52, 56], ['Andrew', 'Johnson', 1865, 1869, 'NC', '12/29/1808', '7/31/1875', 56, 66], ['Ulysses', 'Grant', 1869, 1877, 'OH', '4/27/1822', '7/23/1885', 46, 63], ['Rutherford', 'Hayes', 1877, 1881, 'OH', '10/4/1822', '1/17/1893', 54, 70], ['James', 'Garfield', 1881, 1881, 'OH', '11/19/1831', '9/19/1881', 49, 49], ['Chester', 'Arthur', 1881, 1885, 'VT', '10/5/1829', '11/18/1886', 50, 56], ['Grover', 'Cleveland1', 1885, 1889, 'NJ', '3/18/1837', '6/24/1908', 47, 71], ['Benjamin', 'Harrison2', 1889, 1893, 'OH', '8/20/1833', '3/13/1901', 55, 67], ['Grover', 'Cleveland2', 1893, 1897, 'NJ', '3/18/1837', '6/24/1908', 55, 71]]

## 2

In [7]:
def extract_column(data,column):
    return data[column]

In [8]:
extract_column (presidents, 0)

['George', 'Washington', 1789, 1797, 'VA', '2/22/1732', '12/14/1799', 57, 67]

In [10]:
extract_column (presidents[1],3)

1801

## 3

In [11]:
first_name = list()
for p in presidents:
    first_name.append (extract_column(p,0))
    
print(first_name)

['George', 'John', 'Thomas', 'James', 'James', 'John', 'Andrew', 'Martin', 'William', 'John', 'James', 'Zachary', 'Millard', 'Franklin', 'James', 'Abraham', 'Andrew', 'Ulysses', 'Rutherford', 'James', 'Chester', 'Grover', 'Benjamin', 'Grover']

In [12]:
last_name = list()
for p in presidents:
    last_name.append (extract_column(p,1))
    
print(last_name)

['Washington', 'Adams1', 'Jefferson', 'Madison', 'Monroe', 'Adams2', 'Jackson', 'Van Buren', 'Harrison1', 'Tyler', 'Polk', 'Taylor', 'Fillmore', 'Pierce', 'Buchanan', 'Lincoln', 'Johnson', 'Grant', 'Hayes', 'Garfield', 'Arthur', 'Cleveland1', 'Harrison2', 'Cleveland2']

In [28]:
start_term = list()
for p in presidents:
    start_term.append (extract_column(p,2))
    
print(start_term)

[1789, 1797, 1801, 1809, 1817, 1825, 1829, 1837, 1841, 1841, 1845, 1849, 1850, 1853, 1857, 1861, 1865, 1869, 1877, 1881, 1881, 1885, 1889, 1893]

In [27]:
end_term = list()
for p in presidents:
    end_term.append (extract_column(p,3))
    
print(end_term)

[1797, 1801, 1809, 1817, 1825, 1829, 1837, 1841, 1841, 1845, 1849, 1850, 1853, 1857, 1861, 1865, 1869, 1877, 1881, 1881, 1885, 1889, 1893, 1897]

In [26]:
birth_state = list()
for p in presidents:
    birth_state.append (extract_column(p,4))
    
print(birth_state)

['VA', 'MA', 'VA', 'VA', 'VA', 'MA', 'SC', 'NY', 'VA', 'VA', 'NC', 'VA', 'NY', 'NH', 'PA', 'KY', 'NC', 'OH', 'OH', 'OH', 'VT', 'NJ', 'OH', 'NJ']

In [30]:
born = list()
for p in presidents:
    born.append (extract_column(p,5))
    
print(born)

['2/22/1732', '10/30/1735', '4/13/1743', '3/16/1751', '4/28/1758', '7/11/1767', '3/15/1767', '12/5/1782', '2/9/1773', '3/29/1790', '11/2/1795', '11/24/1784', '1/7/1800', '11/23/1804', '4/23/1791', '2/12/1809', '12/29/1808', '4/27/1822', '10/4/1822', '11/19/1831', '10/5/1829', '3/18/1837', '8/20/1833', '3/18/1837']

In [31]:
died = list()
for p in presidents:
    died.append (extract_column(p,6))
    
print(died)

['12/14/1799', '7/4/1826', '7/4/1826', '6/28/1836', '7/4/1831', '2/23/1848', '6/8/1845', '7/24/1862', '4/4/1841', '1/18/1862', '6/15/1849', '7/9/1850', '3/8/1874', '10/8/1869', '6/1/1868', '4/15/1865', '7/31/1875', '7/23/1885', '1/17/1893', '9/19/1881', '11/18/1886', '6/24/1908', '3/13/1901', '6/24/1908']

In [32]:
Inauguration_age = list()
for p in presidents:
    Inauguration_age.append (extract_column(p,7))
    
print(Inauguration_age)

[57, 61, 57, 57, 58, 57, 61, 54, 68, 51, 49, 64, 50, 48, 65, 52, 56, 46, 54, 49, 50, 47, 55, 55]

In [33]:
Death_age = list()
for p in presidents:
    Death_age.append (extract_column(p,8))
    
print(Death_age)

[67, 90, 83, 85, 73, 80, 78, 79, 68, 71, 53, 65, 74, 64, 77, 56, 66, 63, 70, 49, 56, 71, 67, 71]

## 4

In [17]:
names = list(zip(first_name, last_name))

In [18]:
names

[('George', 'Washington'),
 ('John', 'Adams1'),
 ('Thomas', 'Jefferson'),
 ('James', 'Madison'),
 ('James', 'Monroe'),
 ('John', 'Adams2'),
 ('Andrew', 'Jackson'),
 ('Martin', 'Van Buren'),
 ('William', 'Harrison1'),
 ('John', 'Tyler'),
 ('James', 'Polk'),
 ('Zachary', 'Taylor'),
 ('Millard', 'Fillmore'),
 ('Franklin', 'Pierce'),
 ('James', 'Buchanan'),
 ('Abraham', 'Lincoln'),
 ('Andrew', 'Johnson'),
 ('Ulysses', 'Grant'),
 ('Rutherford', 'Hayes'),
 ('James', 'Garfield'),
 ('Chester', 'Arthur'),
 ('Grover', 'Cleveland1'),
 ('Benjamin', 'Harrison2'),
 ('Grover', 'Cleveland2')]

## 5

In [50]:
swap = [(sub[1], sub[0]) for sub in names]

In [51]:
swap

[('Washington', 'George'),
 ('Adams1', 'John'),
 ('Jefferson', 'Thomas'),
 ('Madison', 'James'),
 ('Monroe', 'James'),
 ('Adams2', 'John'),
 ('Jackson', 'Andrew'),
 ('Van Buren', 'Martin'),
 ('Harrison1', 'William'),
 ('Tyler', 'John'),
 ('Polk', 'James'),
 ('Taylor', 'Zachary'),
 ('Fillmore', 'Millard'),
 ('Pierce', 'Franklin'),
 ('Buchanan', 'James'),
 ('Lincoln', 'Abraham'),
 ('Johnson', 'Andrew'),
 ('Grant', 'Ulysses'),
 ('Hayes', 'Rutherford'),
 ('Garfield', 'James'),
 ('Arthur', 'Chester'),
 ('Cleveland1', 'Grover'),
 ('Harrison2', 'Benjamin'),
 ('Cleveland2', 'Grover')]

In [49]:
sorted_names = list(sorted(swap))

In [46]:
sorted_names

[('Adams1', 'John'),
 ('Adams2', 'John'),
 ('Arthur', 'Chester'),
 ('Buchanan', 'James'),
 ('Cleveland1', 'Grover'),
 ('Cleveland2', 'Grover'),
 ('Fillmore', 'Millard'),
 ('Garfield', 'James'),
 ('Grant', 'Ulysses'),
 ('Harrison1', 'William'),
 ('Harrison2', 'Benjamin'),
 ('Hayes', 'Rutherford'),
 ('Jackson', 'Andrew'),
 ('Jefferson', 'Thomas'),
 ('Johnson', 'Andrew'),
 ('Lincoln', 'Abraham'),
 ('Madison', 'James'),
 ('Monroe', 'James'),
 ('Pierce', 'Franklin'),
 ('Polk', 'James'),
 ('Taylor', 'Zachary'),
 ('Tyler', 'John'),
 ('Van Buren', 'Martin'),
 ('Washington', 'George')]

## 6

In [27]:
import statistics as stats

In [53]:
mean_inaug_age = stats.mean(Inauguration_age)
mean_death_age = stats.mean(Death_age)

In [54]:
print(mean_inaug_age)
print(mean_death_age)

55.041666666666664
69.83333333333333

## 7

In [2]:
def get_post_term(prez):
    death_year = int(prez[6][6:10])
    left_office = prez[3]
    post_term = death_year - left_office
    print(post_term)

In [5]:
get_post_term(presidents[0])

2

## 8

## 9

## 10

## 11

## 12