# Programming Project 2
---
**Author:** Kerry Effinger  
**Version:** 1.0  
**Semester:** Fall 2020  

This *notebook* contains my solution to **Programming Project 2**

In [3]:
['FirstName','LastName','StartTerm','EndTerm','BirthState','Born','Died','InaugurationAge','DeathAge']

presidents = [['George','Washington',1789,1797,'VA','2/22/1732','12/14/1799',57,67],
['John','Adams1',1797,1801,'MA','10/30/1735','7/4/1826',61,90],
['Thomas','Jefferson',1801,1809,'VA','4/13/1743','7/4/1826',57,83],
['James','Madison',1809,1817,'VA','3/16/1751','6/28/1836',57,85],
['James','Monroe',1817,1825,'VA','4/28/1758','7/4/1831',58,73],
['John','Adams2',1825,1829,'MA','7/11/1767','2/23/1848',57,80],
['Andrew','Jackson',1829,1837,'SC','3/15/1767','6/8/1845',61,78],
['Martin','Van Buren',1837,1841,'NY','12/5/1782','7/24/1862',54,79],
['William','Harrison1',1841,1841,'VA','2/9/1773','4/4/1841',68,68],
['John','Tyler',1841,1845,'VA','3/29/1790','1/18/1862',51,71],
['James','Polk',1845,1849,'NC','11/2/1795','6/15/1849',49,53],
['Zachary','Taylor',1849,1850,'VA','11/24/1784','7/9/1850',64,65],
['Millard','Fillmore',1850,1853,'NY','1/7/1800','3/8/1874',50,74],
['Franklin','Pierce',1853,1857,'NH','11/23/1804','10/8/1869',48,64],
['James','Buchanan',1857,1861,'PA','4/23/1791','6/1/1868',65,77],
['Abraham','Lincoln',1861,1865,'KY','2/12/1809','4/15/1865',52,56],
['Andrew','Johnson',1865,1869,'NC','12/29/1808','7/31/1875',56,66],
['Ulysses','Grant',1869,1877,'OH','4/27/1822','7/23/1885',46,63],
['Rutherford','Hayes',1877,1881,'OH','10/4/1822','1/17/1893',54,70],
['James','Garfield',1881,1881,'OH','11/19/1831','9/19/1881',49,49],
['Chester','Arthur',1881,1885,'VT','10/5/1829','11/18/1886',50,56],
['Grover','Cleveland1',1885,1889,'NJ','3/18/1837','6/24/1908',47,71],
['Benjamin','Harrison2',1889,1893,'OH','8/20/1833','3/13/1901',55,67],
['Grover','Cleveland2',1893,1897,'NJ','3/18/1837','6/24/1908',55,71]]
print(presidents)

[['George', 'Washington', 1789, 1797, 'VA', '2/22/1732', '12/14/1799', 57, 67], ['John', 'Adams1', 1797, 1801, 'MA', '10/30/1735', '7/4/1826', 61, 90], ['Thomas', 'Jefferson', 1801, 1809, 'VA', '4/13/1743', '7/4/1826', 57, 83], ['James', 'Madison', 1809, 1817, 'VA', '3/16/1751', '6/28/1836', 57, 85], ['James', 'Monroe', 1817, 1825, 'VA', '4/28/1758', '7/4/1831', 58, 73], ['John', 'Adams2', 1825, 1829, 'MA', '7/11/1767', '2/23/1848', 57, 80], ['Andrew', 'Jackson', 1829, 1837, 'SC', '3/15/1767', '6/8/1845', 61, 78], ['Martin', 'Van Buren', 1837, 1841, 'NY', '12/5/1782', '7/24/1862', 54, 79], ['William', 'Harrison1', 1841, 1841, 'VA', '2/9/1773', '4/4/1841', 68, 68], ['John', 'Tyler', 1841, 1845, 'VA', '3/29/1790', '1/18/1862', 51, 71], ['James', 'Polk', 1845, 1849, 'NC', '11/2/1795', '6/15/1849', 49, 53], ['Zachary', 'Taylor', 1849, 1850, 'VA', '11/24/1784', '7/9/1850', 64, 65], ['Millard', 'Fillmore', 1850, 1853, 'NY', '1/7/1800', '3/8/1874', 50, 74], ['Franklin', 'Pierce', 1853, 1857, 'NH', '11/23/1804', '10/8/1869', 48, 64], ['James', 'Buchanan', 1857, 1861, 'PA', '4/23/1791', '6/1/1868', 65, 77], ['Abraham', 'Lincoln', 1861, 1865, 'KY', '2/12/1809', '4/15/1865', 52, 56], ['Andrew', 'Johnson', 1865, 1869, 'NC', '12/29/1808', '7/31/1875', 56, 66], ['Ulysses', 'Grant', 1869, 1877, 'OH', '4/27/1822', '7/23/1885', 46, 63], ['Rutherford', 'Hayes', 1877, 1881, 'OH', '10/4/1822', '1/17/1893', 54, 70], ['James', 'Garfield', 1881, 1881, 'OH', '11/19/1831', '9/19/1881', 49, 49], ['Chester', 'Arthur', 1881, 1885, 'VT', '10/5/1829', '11/18/1886', 50, 56], ['Grover', 'Cleveland1', 1885, 1889, 'NJ', '3/18/1837', '6/24/1908', 47, 71], ['Benjamin', 'Harrison2', 1889, 1893, 'OH', '8/20/1833', '3/13/1901', 55, 67], ['Grover', 'Cleveland2', 1893, 1897, 'NJ', '3/18/1837', '6/24/1908', 55, 71]]

## 2

In [84]:
def extract_column(data,column):
    """this function returns a specified column from a list"""
    column_list = list()
    for p in presidents:
        column_list.append (p[column])
    return column_list

In [67]:
extract_column (presidents, 1)

['Washington',
 'Adams1',
 'Jefferson',
 'Madison',
 'Monroe',
 'Adams2',
 'Jackson',
 'Van Buren',
 'Harrison1',
 'Tyler',
 'Polk',
 'Taylor',
 'Fillmore',
 'Pierce',
 'Buchanan',
 'Lincoln',
 'Johnson',
 'Grant',
 'Hayes',
 'Garfield',
 'Arthur',
 'Cleveland1',
 'Harrison2',
 'Cleveland2']

## 3

In [68]:
first_name = extract_column(presidents,0)

In [69]:
last_name = extract_column (presidents, 1)

In [70]:
start_term = extract_column (presidents, 2)

In [71]:
end_term = extract_column (presidents, 3)

In [72]:
birth_state = extract_column (presidents, 4)

In [73]:
born = extract_column (presidents, 5)

In [74]:
died = extract_column (presidents, 6)

In [75]:
Inauguration_age = extract_column (presidents, 7)

In [86]:
Death_age = extract_column (presidents, 8)

## 4

In [17]:
names = list(zip(first_name, last_name))

In [18]:
names

[('George', 'Washington'),
 ('John', 'Adams1'),
 ('Thomas', 'Jefferson'),
 ('James', 'Madison'),
 ('James', 'Monroe'),
 ('John', 'Adams2'),
 ('Andrew', 'Jackson'),
 ('Martin', 'Van Buren'),
 ('William', 'Harrison1'),
 ('John', 'Tyler'),
 ('James', 'Polk'),
 ('Zachary', 'Taylor'),
 ('Millard', 'Fillmore'),
 ('Franklin', 'Pierce'),
 ('James', 'Buchanan'),
 ('Abraham', 'Lincoln'),
 ('Andrew', 'Johnson'),
 ('Ulysses', 'Grant'),
 ('Rutherford', 'Hayes'),
 ('James', 'Garfield'),
 ('Chester', 'Arthur'),
 ('Grover', 'Cleveland1'),
 ('Benjamin', 'Harrison2'),
 ('Grover', 'Cleveland2')]

## 5

In [50]:
swap = [(sub[1], sub[0]) for sub in names]

In [51]:
swap

[('Washington', 'George'),
 ('Adams1', 'John'),
 ('Jefferson', 'Thomas'),
 ('Madison', 'James'),
 ('Monroe', 'James'),
 ('Adams2', 'John'),
 ('Jackson', 'Andrew'),
 ('Van Buren', 'Martin'),
 ('Harrison1', 'William'),
 ('Tyler', 'John'),
 ('Polk', 'James'),
 ('Taylor', 'Zachary'),
 ('Fillmore', 'Millard'),
 ('Pierce', 'Franklin'),
 ('Buchanan', 'James'),
 ('Lincoln', 'Abraham'),
 ('Johnson', 'Andrew'),
 ('Grant', 'Ulysses'),
 ('Hayes', 'Rutherford'),
 ('Garfield', 'James'),
 ('Arthur', 'Chester'),
 ('Cleveland1', 'Grover'),
 ('Harrison2', 'Benjamin'),
 ('Cleveland2', 'Grover')]

In [49]:
sorted_names = list(sorted(swap))

In [46]:
sorted_names

[('Adams1', 'John'),
 ('Adams2', 'John'),
 ('Arthur', 'Chester'),
 ('Buchanan', 'James'),
 ('Cleveland1', 'Grover'),
 ('Cleveland2', 'Grover'),
 ('Fillmore', 'Millard'),
 ('Garfield', 'James'),
 ('Grant', 'Ulysses'),
 ('Harrison1', 'William'),
 ('Harrison2', 'Benjamin'),
 ('Hayes', 'Rutherford'),
 ('Jackson', 'Andrew'),
 ('Jefferson', 'Thomas'),
 ('Johnson', 'Andrew'),
 ('Lincoln', 'Abraham'),
 ('Madison', 'James'),
 ('Monroe', 'James'),
 ('Pierce', 'Franklin'),
 ('Polk', 'James'),
 ('Taylor', 'Zachary'),
 ('Tyler', 'John'),
 ('Van Buren', 'Martin'),
 ('Washington', 'George')]

## 6

In [50]:
import statistics as stats

In [77]:
mean_inaug_age = stats.mean(Inauguration_age)
mean_death_age = stats.mean(Death_age)

In [78]:
print(mean_inaug_age)
print(mean_death_age)

55.041666666666664
69.83333333333333

## 7

In [88]:
def get_post_term(prez):
    """this function calculates how long a president lived after leaving office"""
    death_year = int(prez[6][6:10])
    left_office = int(prez[3])
    post_term = int(death_year - left_office)
    print(post_term)

## 8

In [92]:
get_post_term(presidents[-4])

1

In [89]:
get_post_term(presidents[4]) #only works for george washington

-1794

## 9

In [38]:
post_presidency = list(map(get_post_term, presidents))

2
-1775
-1783
-981
-1794
-981
-1792
-979
-1800
-983
-1000
-1800
-1779
-988
-1793
-1000
-994
-992
-988
-1000
1
-981
-992
-989

## 10

In [81]:
mean_post_presidency = stats.mean(post_presidency)

TypeError: can't convert type 'NoneType' to numerator/denominator

## 11

In [95]:
from prettytable import PrettyTable

In [96]:
def calculate_summary(data):
    """prints a table with the means calculated earlier in this notebook"""
    p = PrettyTable()
    p.field_names = ['Mean Age at inauguration','Mean Age at death','Mean number of years after presidency']
    p.add_row(mean_inaug_age,mean_death_age,mean_post_presidency)
    print(p)

In [97]:
calculate_summary(mean_inaug_age)

NameError: name 'mean_post_presidency' is not defined

## 12

In [91]:
def convert_to_dict(presidents):
    """converts raw data to a dictionary with last name as the key and death age as the value"""
    prez_dicts = dict(zip(last_name, Death_age))
    print(prez_dicts)

In [83]:
convert_to_dict(presidents)

{'Washington': 67, 'Adams1': 90, 'Jefferson': 83, 'Madison': 85, 'Monroe': 73, 'Adams2': 80, 'Jackson': 78, 'Van Buren': 79, 'Harrison1': 68, 'Tyler': 71, 'Polk': 53, 'Taylor': 65, 'Fillmore': 74, 'Pierce': 64, 'Buchanan': 77, 'Lincoln': 56, 'Johnson': 66, 'Grant': 63, 'Hayes': 70, 'Garfield': 49, 'Arthur': 56, 'Cleveland1': 71, 'Harrison2': 67, 'Cleveland2': 71}